/* -------scrol-------  */
html {
    scroll-behavior: smooth;
  }




/* -------text-------  */
h1 {
    font-family: Montserrat;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    font-size: 75px;
}

h2 {
    font-family: Montserrat;
    color: #000000;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-size: 40px;

}

h3 {
    font-family: Montserrat;
    color: #ffffff;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-size: 40px;

}


p {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 4000;
    color: #000000;
    line-height: 1.6;
    text-indent: 20px;
    word-spacing: 2px;
    margin-left: 15px;
    margin-right: 15px;

}

.textwhite {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 4000;
    color: #ffffff;
    line-height: 1.6;
    text-indent: 20px;
    word-spacing: 2px;
    margin-left: 15px;
    margin-right: 15px;
}

.titleblack {
    font-family: Montserrat;
    color: #000000;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    font-size: 75px;
}




/* -------line-------  */
.line{
    height:3.4px;
    border-width:0; 
    color:#000000;
    background-color:#000000;
    margin: 0;
    padding: 0;
}

.linemargin{
    height:3.4px;
    border-width:0; 
    color:#000000;
    background-color:#000000;
}

.linewhite{
    height:3.4px;
    border-width:0; 
    color:#ffffff;
    background-color:#ffffff;
    margin: 0;
    padding: 0;
}









/* -------body-------  */
body {
   margin:0;
   background-color: #000000;
}








/* -------Header-------  */
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-container img{
    display: block;
    height: auto;
    width: 100%; 
}

.overlay-text-index {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000000;
    color: #ffffff;
    padding: 15px 20000px;
    font-size: 100px;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    border: 3px solid 0000007c;
    border-radius: 20px;
}



/* -------Footer-------  */
.footer {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.footer h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.footer p {
    font-size: 14px;
}

.footerlinkspersoonlijk {
    width: 33%;
    float: left;
    background-color: #ffffff;
    min-height: 220px;
    margin: 0;
    padding: 0;
}

.footerlinkshz {
    width: 33%;
    float: left;
    background-color: #ffffff;
    min-height: 220px;
    margin: 0;
    padding: 0;
}

.footerlinksdocuments {
    width: 34%;
    float: left;
    background-color: #ffffff;
    min-height: 220px;
    margin: 0;
    padding: 0;
}


.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    font-weight: 800;
    font-size: 15px;
}

.footerlinkspersoonlijk summary {
    font-family: Montserrat;
    font-weight: 400;
}

.footerlinkspersoonlijk details {
    font-family: Montserrat;
    font-weight: 500;
    padding-top: 10px;
}







/* -------nav-------  */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Montserrat;
    background-color: #000000;
}

.navbar {
    float: left;
}

.navbar a {
    display: block;
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
}

.navbar a:hover {
    font-weight: 600;
    font-size: 35px;
}

.navlogo {
    float: right;
}









/* -------Index-------  */
#indexcolumns {
    text-align: center;
    background-color: #ffffff;

}

#indexcolumns h2{
    color: #000000;
    font-size: 40px;
    font-weight: 700;
}

#indexcolumns p{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}



#indexcolumnleft {
    width: 50%;
    float: left;
    background-color: #ffffff;

}

#indexcolumnright {
    width: 50%;
    float: left;
    background-color: #ffffff;
    
}


/* -------Profile-------  */
.ColumnsProfileRight {
    float: right;
    width: 70%;
    background-color: white; 
    text-align: center;
    min-height: 900px;
}

.ColumnsProfileLeft {
    float: left;
    width: 30%;
    background-color: rgb(0, 0, 0); 
    text-align: center;
    min-height: 900px;
}

.ColumnsProfileLeft p {
    color: #ffffff;
}

.ColumnsProfileLeft h2 {
    color: #ffffff;
}

.ColumnsProfileLeft li {
    color: #ffffff;
    font-family: Montserrat;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 22px;
}
    



/*Header profile*/
.overlay-text-profile {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000096;
    color: #ffffff;
    padding: 15px 20000px;
    font-size: 100px;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    border: 3px solid 0000007c;
    border-radius: 20px;
}






/* -------Dashboard-------  */

/*Header*/
.overlay-text-dashboard {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000000;
    color: #ffffff;
    padding: 15px 20000px;
    font-size: 100px;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    border: 3px solid 0000007c;
    border-radius: 20px;
}


/*dropdown menu*/
.skipto {
    text-align: center;
    margin-top: 20px;

}

.skipbutton {
    background-color: #000000;
    color: white;
    font-family: Montserrat;
    font-size: 25px;
    border: none;
    cursor: pointer;
    padding: 16px 300px;


  }
  
  .dropskip {
    position: relative;
    display: inline-block;

  }
  
  .skipbutton-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .skipbutton-content a {
    color: black;
    font-size: 20px;
    font-family: Montserrat;
    padding: 16px 420px;
    text-decoration: none;
    display: block;
  }
  
  .skipbutton-content a:hover {background-color: #000000; color: #ffffff; font-family: Montserrat;}
  
  .dropskip:hover .skipbutton-content {
    display: block;
  }
  
  .dropskip:hover .skipbutton {
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
  }


/*progress*/
.progressdash {
    background-color: #ffffff;
    text-align: center;
}


.yearprogress {
    padding-bottom: 50px;
}

.yearprogress h2 {
    color:black;
    font-weight: 700;
}


.quarterprogress {
    background-color: #ffffff;
}

.quarterprogress h2{
    font-size: 30px;
}

#quarter1progress {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
}

#quarter2progress {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
    
}

#quarter3progress {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
    
}

#quarter4progress {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
    
}


#quarter1 {
    background-color: #000000;
    color: #ffffff;

}

#quarter2 {
    background-color: #ffffff;

}

#quarter3 {
    background-color: #000000;

}

#quarter4 {
    background-color: #ffffff;

}




.quartertitleblack {
    padding-top: 20px;
    background-color: #000000;
}

.quartertitlewhite {
    padding-top: 20px;
    color: black;
}




/* -------Dashboard-------  */

.summaryfaq {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 25px;
}

.detailsfaq {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
}
