/* -------scrol-------  */
html {
    scroll-behavior: smooth;
  }

/* -------text-------  */
h1 {
    font-family: Montserrat;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    font-size: 75px;
}

h2 {
    font-family: Montserrat;
    color: #000000;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-size: 40px;

}

h3 {
    font-family: Montserrat;
    color: #ffffff;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-size: 40px;

}


p {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 4000;
    color: #000000;
    line-height: 1.6;
    text-indent: 20px;
    word-spacing: 2px;
    margin-left: 15px;
    margin-right: 15px;

}

.textwhite {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 4000;
    color: #ffffff;
    line-height: 1.6;
    text-indent: 20px;
    word-spacing: 2px;
    margin-left: 15px;
    margin-right: 15px;
}

.titleblack {
    font-family: Montserrat;
    color: #000000;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    font-size: 75px;
}

/* -------line-------  */
.line{
    height:3.4px;
    border-width:0; 
    color:#000000;
    background-color:#000000;
    margin: 0;
    padding: 0;
}

.linemargin{
    height:3.4px;
    border-width:0; 
    color:#000000;
    background-color:#000000;
}

.linewhite{
    height:3.4px;
    border-width:0; 
    color:#ffffff;
    background-color:#ffffff;
    margin: 0;
    padding: 0;
}



/* -------body-------  */
body {
   margin:0;
   background-color: #000000;
}


/* -------Header-------  */
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-container img{
    display: block;
    height: auto;
    width: 100%; 
}

.overlay-text-index {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000000;
    color: #ffffff;
    padding: 15px 20px;
    font-size: 100px;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    border: 3px solid 0000007c;
    border-radius: 20px;
}



/* -------Footer-------  */
.footer {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.footer h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.footer p {
    font-size: 14px;
}

.footerlinkspersoonlijk {
    width: 33%;
    float: left;
    background-color: #ffffff;
    min-height: 220px;
    margin: 0;
    padding: 0;
}

.footerlinkshz {
    width: 33%;
    float: left;
    background-color: #ffffff;
    min-height: 220px;
    margin: 0;
    padding: 0;
}

.footerlinksdocuments {
    width: 34%;
    float: left;
    background-color: #ffffff;
    min-height: 220px;
    margin: 0;
    padding: 0;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    font-weight: 700;
}

.footerlinkspersoonlijk summary {
    font-family: Montserrat;
    font-weight: 400;
}

.footerlinkspersoonlijk details {
    font-family: Montserrat;
    font-weight: 500;
    padding-top: 10px;
}



/* -------nav-------  */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Montserrat;
    background-color: #000000;
}

.navbar {
    float: left;
}

.navbar a {
    display: block;
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
}

.navbar a:hover {
    font-weight: 400;
}

.navlogo {
    float: right;
}

/* -------Index-------  */
#indexcolumns {
    text-align: center;
    background-color: #ffffff;
    height: 500px;

}

#indexcolumns h2{
    color: #000000;
    font-size: 40px;
    font-weight: 700;
}

#indexcolumns p{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}


#indexcolumnleft {
    width: 50%;
    float: left;
    background-color: #ffffff;

}

#indexcolumnright {
    width: 50%;
    float: left;
    background-color: #ffffff;
    
}



/* -------Profile-------  */
.ColumnsProfileRight {
    float: right;
    width: 70%;
    background-color: white; 
    text-align: center;
    min-height: 900px;
}

.ColumnsProfileLeft {
    float: left;
    width: 30%;
    background-color: rgb(0, 0, 0); 
    text-align: center;
    min-height: 900px;
}

.ColumnsProfileLeft p {
    color: #ffffff;
}

.ColumnsProfileLeft h2 {
    color: #ffffff;
}

.ColumnsProfileLeft li {
    color: #ffffff;
    font-family: Montserrat;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 22px;
}
    


/*Header profile*/
.overlay-text-profile {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000096;
    color: #ffffff;   
    font-size: 100px;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    border: 3px solid 0000007c;
    border-radius: 20px;
    padding-left: 100%;
    padding-right: 100%;
}



/* -------Dashboard-------  */
/*Header*/
.overlay-text-dashboard {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000000;
    color: #ffffff;
    padding: 15px 20000px;
    font-size: 100px;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    border: 3px solid 0000007c;
    border-radius: 20px;
}


/*dropdown menu*/
.skipto {
    text-align: center;
    margin-top: 20px;

}

.skipbutton {
    background-color: #000000;
    color: white;
    font-family: Montserrat;
    font-size: 25px;
    border: none;
    cursor: pointer;
    padding: 16px 300px;

  }
  
  .dropskip {
    position: relative;
    display: inline-block;

  }
  
  .skipbutton-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .skipbutton-content a {
    color: black;
    font-size: 20px;
    font-family: Montserrat;
    padding: 16px 420px;
    text-decoration: none;
    display: block;
  }
  
  .skipbutton-content a:hover {background-color: #000000; color: #ffffff; font-family: Montserrat;}
  
  .dropskip:hover .skipbutton-content {
    display: block;
  }
  
  .dropskip:hover .skipbutton {
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
  }


/*progress*/
.progressdash {
    background-color: #ffffff;
    text-align: center;
}


.yearprogress {
    padding-bottom: 50px;
}

.yearprogress h2 {
    color:black;
    font-weight: 700;
}

.quarterprogress {
    background-color: #ffffff;
}

.quarterprogress h2{
    font-size: 30px;
}

#quarter1progress {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
}

#quarter2progress {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
    
}

#quarter3progress {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
    
}

#quarter4progress {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
    
}

#quarter1 {
    background-color: #000000;
    padding: 20px;

}

#quarter2 {
    background-color: #ffffff;
    padding: 20px;

}

#quarter2 li{
    padding: 20px;
}

#quarter3 {
    background-color: #000000;
    padding: 20px;

}

#quarter3 li{
    padding: 20px;
}

#quarter4 {
    background-color: #ffffff;
    padding: 20px;

}

#quarter4 li{
    padding: 20px;
}


.quartertitleblack {
    padding-top: 20px;
    background-color: #000000;
}

.quartertitlewhite {
    padding-top: 20px;
    color: black;
}

#tablequarter13 {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ffffff;
    text-align: left;

}

#tablequarter13 td {
    border: 2px solid #ffffff;
    text-align: left;
    padding: 30px;
    font-size: 25px;
    font-family: Montserrat;
    color: #ffffff;
}

#tablequarter13 th {
    border: 2px solid #ffffff;
    text-align: left;
    padding: 30px;
    font-size: 25px;
    font-family: Montserrat;
    color: #ffffff;
}

#tablequarter24 {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #000000;
    text-align: left;
}

#tablequarter24 td {
    border: 2px solid #000000;
    text-align: left;
    padding: 30px;
    font-size: 25px;
    font-family: Montserrat;
    
}

#tablequarter24 th {
    border: 2px solid #000000;
    text-align: left;
    padding: 30px;
    font-size: 25px;
    font-family: Montserrat;
}


/* -------faq-------  */
#faqq li {
    margin-bottom: 50px;
    font-weight: 500;
    text-align: left;
}

#faqq p {
    margin-bottom: 50px;
    font-weight: 500;
}


.summaryfaq {
    color: #000000;
    font-family: Montserrat;
    font-size: 25px;
    text-align: center;
    line-height: 1.3;
    text-indent: 0px;
    word-spacing: 0.5px;
    letter-spacing: 0.0000001px;
}

.detailsfaq {
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;

}


/* -------Blog-------  */
#blogpage {
    margin-top: 40px;
    height: 1000px;
}

#blogpage h3 {
    color: #000000;
    font-weight: 800;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    margin-top: 10px;
}

#blogpage p {
    color: #000000;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 22px;
}

#blogpage a {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    border-radius: 15px;
    margin-left: 30px;
}

#blogpage a:hover {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    border-radius: 15px;
    border: 4px solid black;
    margin-left: 30px;
}


#blogstudychoice {
    width: 32%;
    float: left;
    background-color: #ffffff;
    margin: 5px;
    padding-bottom: 30px;
    border-color: #000000;
    border-width: 5px;
    border-radius: 25px;
    min-height: 350px;

}

#blogpersonalswot {
    width: 32%;
    float: left;
    background-color: #ffffff;
    margin: 5px;
    padding-bottom: 30px;
    border-color: #000000;
    border-width: 5px;
    border-radius: 25px;
    min-height: 350px;

}

#blogprogramming {
    width: 32%;
    float: left;
    background-color: #ffffff;
    margin: 5px;
    padding-bottom: 30px;
    border-color: #000000;
    border-width: 5px;
    border-radius: 25px;
    min-height: 350px;

}

#blogfirstfeedback {
    width: 32%;
    float: left;
    background-color: #ffffff;
    margin: 5px;
    padding-bottom: 30px;
    border-color: #000000;
    border-width: 5px;
    border-radius: 25px;
    min-height: 350px;

}

#blogictfieldwork {
    width: 32%;
    float: left;
    background-color: #ffffff;
    margin: 5px;
    padding-bottom: 30px;
    border-color: #000000;
    border-width: 5px;
    border-radius: 25px;
    min-height: 350px;

}


/*blog page*/

.backtoblog {
    padding: 30px;
    background-color: #ffffff;
    text-align: center;
}

.backtoblog a {
    padding: 30px;
    color: #000000;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 25px;
}

.backtoblog a:hover {
    padding: 30px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 800;
}

.blogheader {   
    margin: 0;
}

.blogheader h1{   
    color: #000000;
    margin: 0;
    font-family: DM sans;
    font-weight: 300;
    text-align: center;
}

/*blog page: SWOT*/
#swot h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
}

#swot p{
    text-align: center;
    font-family: DM sans;
    margin: 0;
    padding: 0;
}

#swot2 p{
    text-align: center;
    font-family: DM sans;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#swot li{
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: DM sans;
}

#s {
    width: 25%;
    height: 250px;
    float: left;
}

#w {
    width: 25%;
    height: 250px;
    float: left;
}

#o {
    width: 25%;
    height: 250px;
    float: left;
}

#t {
    width: 25%;
    height: 250px;
    float: left;
}


/*blog page: study choice*/
#studychoice h3 {
    text-align: center;
    color: #000000;  
    margin: 0; 
    padding: 0;
    
}

#studychoice h2 {
    text-align: center;
    color: #000000;  
    margin: 0; 
    padding: 0;
    
}

#studychoice p {
    text-align: center;
    color: #000000;  
    margin: 0; 
    padding: 0;
    
}

#studychoiceact {
    
}


#studychoicemotivation {
    width: 49%;
    float: left;
}

#afterstudy {
    width: 49%;
    float: right;
}



